<template>
    <v-container>

        <v-layout align-center py-2>
            <v-flex text-xs-center>
                <h1>PDF-to-Text Convertor</h1>
            </v-flex>
        </v-layout>

        <v-layout align-center py-2>
            <v-flex text-xs-center>
                <input
                    type="file"
                    id="file"
                    ref="file"
                    @change="handleFileUpload()"
                />

                <v-btn
                    :disabled="uploaded"
                    color="indigo"
                    :dark="!uploaded"
                    @click="submitFile()"
                    small
                    >
                    <v-icon
                        small
                        left
                        dark>
                        backup
                    </v-icon>
                    Upload

                </v-btn>
            </v-flex>
        </v-layout>
        <v-divider></v-divider>

        <v-layout align-center mt-2>
            <v-flex text-xs-center class="">
                <b>Status: </b> {{status}}
            </v-flex>


        </v-layout>

        <v-layout align-center m-2>
            <v-flex text-xs-center>
                <v-btn
                    small
                    :href="url"
                    target="_blank"
                    v-if="complete"
                >
                    <v-icon
                        small
                        left
                    >
                    save_alt
                    </v-icon>
                    Download
                </v-btn>
            </v-flex>
        </v-layout>

    </v-container>
</template>

<script>
    import io from 'socket.io-client';
    import API from '@/api';

    export default {
        name: 'upload',
        data() {
            return {
                socket: null,
                status: 'No file upload',
                file: '',
                uploaded: false,
                complete: false,
                url: '#',
            };
        },
        methods: {
            handleFileUpload() {
                this.file = this.$refs.file.files[0];
            },
            async submitFile() {
                try {
                    this.uploaded = true;
                    this.complete = false;
                    this.status = 'Uploading...';
                    await API.uploadTgz(this.sid, this.file);
                } catch (e) {
                    this.uploaded = false;
                }
            },
        },
        created() {
            this.socket = io();
            this.socket.on('connect', () => {
                this.sid = this.socket.id;
            });
        },
        mounted() {
            this.socket.on('status-update', (data) => {
                this.status = data.status;
                if (data.status === 'completed') {
                    this.url = data.url;
                    this.complete = true;
                    this.uploaded = false;
                }
            });
        },
    };
</script>

<style scoped>

    h1{
        font-size: 40px
    }

</style>

